footer{ 
    @include default;
    background-color: rgba(12,52,131,1);
    width: 100%;
    margin: 50px auto 0;
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap:30px;
        width: 90%;
        margin: auto;
        padding: 30px 0;
        .social{
            font-size: 50px;
            list-style: none;
            a{
              color: #ffffff;
            }
            .fab {
                border-radius: 50%;
                transition: 0.4s;
            }
            .fab:hover {
                transition: 0.4s;
            }
            .fa-instagram:hover {
                border-radius: 0;
                color: transparent;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background-clip: text;
                -webkit-background-clip: text;
            }
            .fa-facebook:hover {
                background: white;
                border-radius: 50%;
                color: #3b5998;
            }
            .fa-twitter:hover {
                border-radius: 0;
                color: #1DA1F2;
            }
        }
        
        }
        .logo-footer {
            h1{
                color: $text-color;
                font-size: 100px;
                height: 75px;
            }
            h2 {
                color: $text-color;
                font-size: 30px;
            }
        }
        .compte {
            list-style: none;
            font-size: 20px;
            a{
                color: $text-color;
            }
        }
        .liens-newsletter{ 
            h3{
                color: $text-color;
                font-size: 17px;
                line-height: 30px;
            }
            p{
                color: $text-color;
                font-size: 15px;
                line-height: 30px;
            }
               
        }
    }



.copyright {
    font-family: 'Maitree', serif;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(20, 48, 104);
    color: $text-color;
    padding: 15px 0px;
}

@media screen and (max-width: 1100px)
{
    footer {
        .footer {
        display: block;
        .social {
            justify-content: space-around;
            width: 50%;
            margin: 25px auto;
            display: flex;
        }
        .compte {
            margin: 25px 0;
            }
        } 
    }
}