footer{ 
    @include default;
    background-color: rgba(12,52,131,1);
    width: 100%;
    margin: 50px auto 0;
    .footer {
        display: flex;
   
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap:30px;
        width: 90%;
        margin: auto;
        padding: 30px 0;
        .social{
            font-size: 50px;
            list-style: none;
          a{
              color: #ffffff;
           }
        }
        
        }
        .logo-footer {
            h1 {
            color: $text-color;
            font-size: 100px;
           
            }
            h2 {
                color: $text-color;
                font-size: 30px;
            }
        }
        .compte
        {color: $text-color;
                list-style: none;
                font-size: 20px;
                a{
                    color: $text-color;
                }
        }
            .liens-newsletter{ 
                
                h3
                {
                    color: $text-color;
                    font-size: 17px;
                    line-height: 30px;
                 }
                 p{
                    color: $text-color;
                    font-size: 15px;
                    line-height: 30px;
                 }
               
                  }
    }



.copyright {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(20, 48, 104);
    color: $text-color;
    padding: 15px 0px;
}
