.formulaire{
    width: 50%;
    max-width: 800px;
    margin: 60px auto;
    font-family: 'Maitree', serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 10px;
    justify-content: center;
    grid-template-areas: 
    "text-nom text-prenom"
    "nom prenom"
    "text-email text-objet"
    "email objet"
    "text-message text-message"
    "message message"
    "envoyer envoyer";
    #text-nom {
        grid-area: text-nom;
    }
    #text-prenom {
        grid-area: text-prenom;
    }
    #nom {
        grid-area: nom;
    }
    #prenom {
        grid-area: prenom;
    }
    #text-email {
        grid-area: text-email;
    }
    #text-objet {
        grid-area: text-objet;
    }
    #email {
        grid-area: email;
    }
    #objet {
        grid-area: objet;
    }
    #message {
        grid-area: message;
        height: 300px;
    }
    #envoyer {
        grid-area: envoyer;
    }
}